<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBackHome()" aria-label="Back to home">
        <ion-icon [icon]="arrowBackOutline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Show a message if nothing stored yet -->
  <p *ngIf="favourites.length === 0">
    No favourites saved yet.
  </p>
  <!-- Show any saved favourites -->
  <ion-list *ngIf="favourites.length > 0">
    <ion-item *ngFor="let fave of favourites" button (click)="openRecipeDetails(fave.id)">
      <ion-img
        [src]="fave.image"
        [alt]="fave.title"
        style="width: 90px; height: 70px; object-fit: cover; margin-right: 12px; border-radius: 6px;"
      ></ion-img>

      <ion-label>
        <h2>{{ fave.title }}</h2>
        <p>ID: {{ fave.id }}</p>
      </ion-label>
      <!-- Remove from favourites button -->
      <ion-buttons slot="end">
        <ion-button
          fill="clear"
          size="small"
          (click)="removeFavourite(fave.id); $event.stopPropagation()"
          aria-label="Remove from favourites">
          <ion-icon [icon]="trashBinOutline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>
</ion-content>
