.recipe-image {
  padding: 12px;
}

.recipe-image ion-img {
  width: 100%;
  display: block;
}

// ::part(image) allows us to style the internal element
.recipe-image ion-img::part(image) {
  border-radius: 8px; // round the corners of the image
  height: 220px; // force all recipe images to the same height
  width: 100%; // make the image take the full width of the card
  object-fit: cover; // image fills the area without stretching
}

.recipe-title {
  margin: 0; // prevent weird overlap
  font-size: 1.1rem;
  font-weight: 600;
}