<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Finder</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">Go to Favourites</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Student Number</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      G00270766
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Ingredients (comma separated)</ion-label>
    <ion-input placeholder="e.g. chicken, rice, garlic" [(ngModel)]="ingredients"></ion-input>
  </ion-item> 
  <!-- function defined in home.page.ts when user clicks the search button -->
  <ion-button expand="block" class="ion-margin-top" (click)="onSearchClicked()"> Search </ion-button>
  <p *ngIf="lastSearch">You searched for: <strong>{{ lastSearch }}</strong></p>
  
  <ion-card *ngFor="let recipe of recipes">
    <div class="recipe-image">
      <ion-img [src]="recipe.image" [alt]="recipe.title"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-title class="recipe-title">{{ recipe.title }}</ion-card-title>
      <ion-button size="small" class="ion-margin-top" [routerLink]="['/recipe-details', recipe.id]"> Details </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>