<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" (click)="goBackHome()" aria-label="Back to home">
        <ion-icon [icon]="arrowBackOutline" slot="start"></ion-icon>Home
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Display Recipe Measurements In:</h2>
  <ion-list>
    <ion-radio-group name="measurementUnit" [(ngModel)]="selectedUnit" (ionChange)="onUnitChanged($event.detail.value)">
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="start" value="metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>US</ion-label>
        <ion-radio slot="start" value="us"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>